<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- custon stylesheet -->
    <!-- <link rel="stylesheet" href="homepage_style.css"> -->
    <!-- Font Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    
  </head>

  <body>

    <div class="container">

      <!-- Nav bar section starts -->
      

      <div class="nav-bar">
        <div class="dropdown">
          <button class="dropdown-button">
            <i class="fas fa-bars" id="menu-bar"></i>
          </button>
          <div class="nav-box">
            <div class="nav-link active rec-chats">
              <div class="icon">
                <a href="/"><i class="fa-solid fa-comment"></i></a>
              </div>
              <div class="content" id="side-bar">
                <a href="/">Chats</a>
              </div>
            </div>
            <div class="nav-link new-chat-btn">
              <div class="icon">
                <a href="#"><i class="fa-solid fa-plus"></i></a>
              </div>
              <div class="content" id="side-bar">
                <a href="#">New Chat</a>
              </div>
            </div>
            <div class="nav-link contacts">
              <div class="icon">
                <a href="#"><i class="fa-solid fa-user-group"></i></a>
              </div>
              <div class="content" id="side-bar">
                <a href="#">Contacts</a>
              </div>
            </div>
            <div class="nav-link profile">
              <div class="icon">
                <a href=""><i class="fa-solid fa-user"></i></a>
              </div>
              <div class="content" id="side-bar">
                <a href="">Profile</a>
              </div>
            </div>
            <div class="nav-link">
              <div class="icon">
                <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
              </div>
              <div class="content" id="side-bar">
                <a href="#">Log Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Nav bar section ends -->

      <!-- Recent chats section starts -->

      <div class="recent-chats left-div active">
        <div class="search-bar">
          <form action="/" method="post">
            <input
              type="text"
              class="search-text"
              placeholder="Search Friend"
            />
            <button type="submit" class="search-icon">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <h3 class="heading">Chats</h3>
        <div class="chats">
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-2</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-3</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-4</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-5</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-6</p>
            </div>
          </div>
          <div class="chat">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-7</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Recents chats section ends -->

      <!-- New chat section starts -->

      <div class="new-chat left-div">
        <div class="heading">
          <p>Find new friend</p>
        </div>
        <form action="/" method="post" class="add-friend">
          <input type="email" name="email" class="friend-email" placeholder="Enter friend's Email">
          <button type="submit" class="find-friend">Add Friend</button>
        </form>
        <div class="line">
          <div class="hori-line"></div>
          <span>or</span>
          <div class="hori-line"></div>
        </div>
        <div class="new-group">
          <button class="create-grp">Create a New Group</button>
        </div>
      </div>

      <!-- New chat section ends -->

      <!-- New Group section starts -->

      <div class="new-grp left-div">
        <div class="input-bar">
          <form action="/" method="post">
            <input
              type="text"
              class="grp-name input"
              placeholder="Enter Group Name"
            />
            <input
              type="text"
              class="search-text input"
              placeholder="Add Friend"
            />
            <button class="search-icon">
              <i class="fas fa-search"></i>
            </button>
            <button type="submit" class="create-grp-btn"><i class="fa-solid fa-plus"></i> Create Group</butto>
          </form>
        </div>
        <h3 class="heading">Create New Group</h3>
        <div class="all-contacts">
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-2</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-3</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-4</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-5</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-6</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-7</p>
            </div>
          </div>
        </div>
      </div>

      <!-- New group section ends -->

      <!-- Contact lists section starts -->

      <div class="contact-list left-div">
        <div class="search-bar">
          <form action="/" method="post">
            <input
              type="text"
              class="search-text"
              placeholder="Find Friend"
            />
            <button type="submit" class="search-icon">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <h3 class="heading">All Contacts</h3>
        <div class="all-contacts">
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-1</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-2</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-3</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-4</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-5</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-6</p>
            </div>
          </div>
          <div class="contact">
            <div class="profile">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <p>Friend-7</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact lists section ends -->

      <!-- User profile section starts -->

      <div class="user-profile left-div">
        <div class="img">
          <img src="/images/boy.png" alt="user-image" />
        </div>
        <div class="content">
          <div class="name">
            <h3>Username</h3>
          </div>
          <div class="data about">
            <p>
              <span>About:</span> <br>Lorem ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="data last-seen">
            <p><span>Last seen:</span> <br>22:40 yesterday</p>
          </div>
          <div class="data phone">
            <p><span>Phone:</span> <br>9369878595</p>
          </div>
          <div class="data email">
            <p><span>Email:</span> <br>abcdefgh@gmail.com</p>
          </div>
        </div>
      </div>

      <!-- User Profile section ends -->
      
      <!-- Active chats section starts -->
      
      <div class="active-chat">
        <div class="heading">
          <div class="icon">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="name">
            <h3>Friend</h3>
          </div>
        </div>
        <div class="msgs">
          <div class="msg-sent msg">
            <h5 class="writer">You</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              similique officia voluptas laboriosam quidem exercitationem
              corporis, assumenda illo eum. Odio? Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Molestias sed sit voluptatem a
              voluptatibus ducimus corrupti officia quisquam quas odio fuga
              aperiam debitis, expedita, aliquam perferendis eligendi. Beatae
              mollitia eveniet quisquam asperiores reiciendis nesciunt dicta
              quaerat, tenetur nemo ex dolorum.
            </p>
          </div>
          <div class="msg-recieved msg">
            <h5 class="writer">Friend</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              similique officia voluptas laboriosam quidem exercitationem
              corporis, assumenda illo eum. Odio? Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Molestias sed sit voluptatem a
              voluptatibus ducimus corrupti officia quisquam quas odio fuga
              aperiam debitis, expedita, aliquam perferendis eligendi. Beatae
              mollitia eveniet quisquam asperiores reiciendis nesciunt dicta
              quaerat, tenetur nemo ex dolorum.
            </p>
          </div>
          <div class="msg-sent msg">
            <h5 class="writer">You</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              similique officia voluptas laboriosam quidem exercitationem
              corporis, assumenda illo eum. Odio? Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Molestias sed sit voluptatem a
              voluptatibus ducimus corrupti officia quisquam quas odio fuga
              aperiam debitis, expedita, aliquam perferendis eligendi. Beatae
              mollitia eveniet quisquam asperiores reiciendis nesciunt dicta
              quaerat, tenetur nemo ex dolorum.
            </p>
          </div>
          <div class="msg-recieved msg">
            <h5 class="writer">Friend</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              similique officia voluptas laboriosam quidem exercitationem
              corporis, assumenda illo eum. Odio? Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Molestias sed sit voluptatem a
              voluptatibus ducimus corrupti officia quisquam quas odio fuga
              aperiam debitis, expedita, aliquam perferendis eligendi. Beatae
              mollitia eveniet quisquam asperiores reiciendis nesciunt dicta
              quaerat, tenetur nemo ex dolorum.
            </p>
          </div>
          <div class="msg-sent msg">
            <h5 class="writer">You</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              similique officia voluptas laboriosam quidem exercitationem
              corporis, assumenda illo eum. Odio? Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Molestias sed sit voluptatem a
              voluptatibus ducimus corrupti officia quisquam quas odio fuga
              aperiam debitis, expedita, aliquam perferendis eligendi. Beatae
              mollitia eveniet quisquam asperiores reiciendis nesciunt dicta
              quaerat, tenetur nemo ex dolorum.
            </p>
          </div>
          <div class="msg-recieved msg">
            <h5 class="writer">Friend</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              similique officia voluptas laboriosam quidem exercitationem
              corporis, assumenda illo eum. Odio? Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Molestias sed sit voluptatem a
              voluptatibus ducimus corrupti officia quisquam quas odio fuga
              aperiam debitis, expedita, aliquam perferendis eligendi. Beatae
              mollitia eveniet quisquam asperiores reiciendis nesciunt dicta
              quaerat, tenetur nemo ex dolorum.
            </p>
          </div>
        </div>
        <div class="new-msg">
          <form action="/" method="post">
            <input
              type="text"
              class="search-text"
              placeholder="Type a message"
            />
            <button type="submit" class="search-icon">
              <i class="fa-solid fa-plus"></i>
            </button>
          </form>
        </div>
      </div>

      <!-- Active chats section ends -->

    </div>
    <script src="/js/script.js"></script>
    <script>
      //Nav bar appears 

var dropdown = document.querySelector(".dropdown-button");
dropdown.addEventListener("click",()=>{
  var sideBarList = document.querySelectorAll("#side-bar");
  sideBarList.forEach((item)=>{
    item.classList.toggle('active');
  })
});

//Recent Chat appears

var recentChats = document.querySelector(".rec-chats");
recentChats.addEventListener("click", (event) => {
  event.preventDefault();
  var sideBarList = document.querySelectorAll("#side-bar");
  sideBarList.forEach((item) => {
    item.classList.remove("active");
  });
  var leftDivs = document.querySelectorAll(".left-div");
  leftDivs.forEach((div) => {
    div.classList.remove("active");
  });
  var recChats = document.querySelector(".recent-chats");
  recChats.classList.toggle("active");
});

//New chat appears

var newChat = document.querySelector(".new-chat-btn");
newChat.addEventListener("click", (event) => {
  event.preventDefault();
  var sideBarList = document.querySelectorAll("#side-bar");
  sideBarList.forEach((item) => {
    item.classList.remove("active");
  });
  var leftDivs = document.querySelectorAll(".left-div");
  leftDivs.forEach((div) => {
    div.classList.remove("active");
  });
  var addChat = document.querySelector(".new-chat");
  addChat.classList.toggle("active");
});

//New group appears

var newGrp = document.querySelector(".create-grp");
newGrp.addEventListener("click", (event) => {
  event.preventDefault();
  var sideBarList = document.querySelectorAll("#side-bar");
  sideBarList.forEach((item) => {
    item.classList.remove("active");
  });
  var leftDivs = document.querySelectorAll(".left-div");
  leftDivs.forEach((div) => {
    div.classList.remove("active");
  });
  var newGroup = document.querySelector(".new-grp");
  newGroup.classList.add("active");
});

//Profile appears

var profilebtn = document.querySelector(".profile");
profilebtn.addEventListener("click", (event) => {
  event.preventDefault();
  var sideBarList = document.querySelectorAll("#side-bar");
  sideBarList.forEach((item) => {
    item.classList.remove("active");
  });
  var leftDivs = document.querySelectorAll('.left-div');
  leftDivs.forEach((div)=>{
    div.classList.remove('active');
  })
  var userProfile = document.querySelector(".user-profile");
  userProfile.classList.toggle("active");
});

//Contacts appears

var contactsBtn = document.querySelector(".contacts");
contactsBtn.addEventListener("click", (event) => {
  event.preventDefault();
  var sideBarList = document.querySelectorAll("#side-bar");
  sideBarList.forEach((item) => {
    item.classList.remove("active");
  });
  var leftDivs = document.querySelectorAll('.left-div');
  leftDivs.forEach((div)=>{
    div.classList.remove('active');
  })
  var contactList = document.querySelector(".contact-list");
  contactList.classList.toggle("active");
});

//Selected chat in recent chats

const chats = document.querySelectorAll('.chat');
chats.forEach((chat)=>{
  chat.addEventListener('click', (event)=>{
    chats.forEach((otherchat)=>{
      if(otherchat !== chat && otherchat.classList.contains('active')){
        otherchat.classList.remove('active');
      }
    })
    chat.classList.toggle('active');
  })
})

// Select members in group

const friends = document.querySelectorAll(".new-grp .contact");
friends.forEach((friend) => {
  friend.addEventListener("click", (event) => {
    friend.classList.toggle("active");
  });
});

// Nav bar items selected

const navItems = document.querySelectorAll('.nav-link');
navItems.forEach((item)=>{
  item.addEventListener('click', (event)=>{
    navItems.forEach((otheritem)=>{
      if(otheritem !== item && otheritem.classList.contains('active')){
        otheritem.classList.remove('active');
      }
    })
    item.classList.add('active');
  })
})
    </script>
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: #17594a;
  --light-green: #eaf5df;
  --black: #0e2954;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5 rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-green);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
  height: 1px;
}

.container {
  display: flex;
  background: #fff;
  gap: 0.5rem;
}

.nav-bar {
  background: var(--light-green);
  height: 100vh;
  display: inline-block;
  position: fixed;
  z-index: 10009;
  box-shadow: var(--box-shadow);
}
.nav-bar .dropdown {
  position: relative;
  display: inline;
}

.nav-bar .dropdown .dropdown-button {
  background-color: var(--light-green);
  border-radius: 0.5rem;
  border: none;
  color: var(--light-color);
  font-size: 2rem;
  padding: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.nav-bar .dropdown .dropdown-button:hover {
  background: var(--green);
  color: #fff;
}

.nav-bar .dropdown .nav-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-bar .dropdown .nav-box .nav-link {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.nav-bar .dropdown .nav-box .nav-link:hover {
  cursor: pointer;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.nav-bar .dropdown .nav-box .nav-link .icon i {
  color: var(--green);
}

.nav-bar .dropdown .nav-box .nav-link.active {
  background: var(--green);
}
.nav-bar .dropdown .nav-box .nav-link.active .icon i,
.nav-bar .dropdown .nav-box .nav-link.active .content a {
  color: #fff;
}

.nav-bar .dropdown .nav-box .nav-link .icon {
  display: inline;
  color: var(--light-color);
  font-size: 2.5rem;
}

.nav-bar .dropdown .nav-box .nav-link .content {
  display: none;
  text-decoration: none;
  margin-left: 2.5rem;
  font-size: 1.7rem;
}
.nav-bar .dropdown .nav-box .nav-link .content a {
  color: var(--light-color);
}

.nav-bar .dropdown .nav-box .nav-link .content.active {
  display: inline;
}

.recent-chats {
  display: none;
  width: 23%;
  height: 100vh;
  background-color: var(--light-green);
  margin-left: 4%;
  position: fixed;
  overflow-y: auto;
}

.recent-chats.active {
  display: inline;
}

.recent-chats .search-bar form {
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 2rem 1rem 2rem;
}
.recent-chats .search-bar .search-text {
  padding: 1rem;
  width: 85%;
  height: 5vh;
}

.recent-chats .search-bar .search-text::placeholder {
  padding: 1rem;
  opacity: 0.5;
}

.recent-chats .search-bar .search-icon {
  width: 12%;
  height: 5vh;
  margin: 1%;
  background: #fff;
  border-radius: 0.5rem;
}

.recent-chats .search-bar .search-icon:hover {
  cursor: pointer;
  background: var(--green);
  color: #fff;
}

.recent-chats .heading {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
  background: var(--green);
  color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.recent-chats .chat {
  display: flex;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

.recent-chats .chat .profile {
  background: #fff;
  /* width:15%; */
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}

.recent-chats .chat .profile i {
  font-size: 2.5rem;
  color: var(--light-color);
}

.recent-chats .chat .name {
  margin-left: 2.5rem;
  justify-content: center;
}

.recent-chats .chat .name p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.recent-chats .chat:hover {
  cursor: pointer;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.recent-chats .chat.active {
  background: var(--green);
  color: #fff;
}

.active-chat {
  width: 73%;
  margin-left: 27.5%;
  overflow-y: hidden;
  position: sticky;
  top: 0;
}

.active-chat .heading {
  display: flex;
  position: fixed;
  width: 71.5%;
  margin: 0.5rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--green);
}

.active-chat .heading .icon {
  background: #fff;
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  margin: 1rem 3rem;
}

.active-chat .heading .icon i {
  font-size: 2.5rem;
  color: var(--black);
}

.active-chat .heading .name {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 5rem;
}

.active-chat .heading:hover {
  cursor: pointer;
  background: var(--light-green);
}

.active-chat .heading:hover .name {
  color: var(--black);
}

.active-chat .heading:hover .icon {
  border: none;
  background: var(--light-green);
}

.active-chat .msgs {
  height: 85vh;
  margin: 8rem 2rem;
}

.active-chat .msgs .msg {
  width: 90%;
  margin: 1rem 0;
}

.active-chat .msgs .msg h5 {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.active-chat .msgs .msg-sent h5 {
  text-align: right;
}

.active-chat .msgs .msg p {
  font-size: 1.3rem;
  padding: 0.5rem;
  background: var(--light-green);
  border-radius: 1rem;
}

.active-chat .msgs .msg-sent {
  margin-left: 10%;
  float: right;
}

.active-chat .msgs .msg-recieved {
  margin-right: 10%;
}

.active-chat .new-msg {
  position: fixed;
  bottom: 0;
  width: 72%;
}

.active-chat .new-msg form {
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 1rem;
}
.active-chat .new-msg .search-text {
  padding: 1rem;
  width: 85%;
}

.active-chat .new-msg .search-text::placeholder {
  padding: 1rem;
  opacity: 0.5;
}

.active-chat .new-msg .search-icon {
  width: 12%;
  height: 5vh;
  margin: 1%;
  background: #fff;
  border-radius: 0.5rem;
}

.active-chat .new-msg .search-icon:hover {
  cursor: pointer;
  background: var(--green);
  color: #fff;
}

.user-profile {
  display: none;
  background: var(--light-green);
  position: fixed;
  width: 23%;
  height: 100vh;
  margin-left: 4%;
  border-radius: 0.5rem;
}

.user-profile.active {
  display: flex;
  flex-direction: column;
}

.user-profile .content {
  margin: 0 auto 10rem auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.user-profile .content .name {
  font-size: 3rem;
  text-align: center;
  color: var(--green);
  display: inline-block;
  margin-bottom: 2rem;
}

.user-profile .content .data {
  margin: 1rem;
  font-size: 1.5rem;
}
.user-profile .content .data span {
  text-decoration: underline;
  font-weight: bolder;
}

.user-profile .content .email p {
  text-transform: none !important;
}

.user-profile .img {
  width: 50%;
  height: 50%;
  margin: 10rem auto 5rem auto;
}

.user-profile .img img {
  width: 100%;
  background: #fff;
  border-radius: 50%;
  padding: 0.5rem;
}
.contact-list {
  display: none;
  width: 23%;
  height: 100vh;
  background-color: var(--light-green);
  margin-left: 4%;
  position: fixed;
  overflow-y: auto;
}

.contact-list.active {
  display: inline;
}

.contact-list .search-bar form {
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 2rem 1rem 2rem;
}

.contact-list .search-bar .search-text {
  padding: 1rem;
  width: 85%;
  height: 5vh;
}

.contact-list .search-bar .search-text::placeholder {
  padding: 1rem;
  opacity: 0.5;
}

.contact-list .search-bar .search-icon {
  width: 12%;
  height: 5vh;
  margin: 1%;
  background: #fff;
  border-radius: 0.5rem;
}

.contact-list .search-bar .search-icon:hover {
  cursor: pointer;
  background: var(--green);
  color: #fff;
}

.contact-list .heading {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
  background: var(--green);
  color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contact-list .contact {
  display: flex;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

.contact-list .contact .profile {
  background: #fff;
  /* width:15%; */
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}

.contact-list .contact .profile i {
  font-size: 2.5rem;
  color: var(--light-color);
}

.contact-list .contact .name {
  margin-left: 2.5rem;
  justify-content: center;
}

.contact-list .contact .name p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.contact-list .contact:hover {
  cursor: pointer;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.contact-list .contact.active {
  background: var(--green);
  color: #fff;
}

.new-chat {
  display: none;
  background: var(--light-green);
  position: fixed;
  width: 23%;
  height: 100vh;
  margin-left: 4%;
  border-radius: 0.5rem;
}

.new-chat.active {
  display: inline;
}

.new-chat .heading {
  text-align: center;
  margin: 20rem 1.5rem 5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 1rem 0;
  box-shadow: var(--box-shadow);
  background-color: var(--green);
  color: white;
}

.new-chat .add-friend .friend-email {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 85%;
  height: 5vh;
  text-align: center;
  margin: 0 2.5rem;
}

.new-chat .add-friend .friend-email::placeholder {
  padding: 1rem;
  opacity: 0.7;
}

.new-chat .add-friend .find-friend {
  width: 40%;
  margin: 3.5rem 10.2rem;
  height: 5vh;
  background-color: var(--green);
  color: #fff;
  border-radius: 0.5rem;
}

.new-chat .add-friend .find-friend:hover {
  cursor: pointer;
}

.new-chat .line {
  margin: 0rem 2rem;
  display: flex;
  align-items: center;
}

.new-chat .line .hori-line {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 45%;
}

.new-chat .line span {
  font-size: 2rem;
  margin: 1rem;
}
.new-chat .create-grp {
  width: 60%;
  margin: 3.5rem 7rem;
  height: 6vh;
  background-color: var(--green);
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.new-chat .create-grp:hover {
  cursor: pointer;
}

.new-grp {
  display: none;
  width: 23%;
  height: 100vh;
  background-color: var(--light-green);
  margin-left: 4%;
  position: fixed;
  overflow-y: auto;
}

.new-grp.active {
  display: inline;
}

.new-grp .input-bar form {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 2rem 1rem 2rem;
}

.new-grp .input-bar .input {
  padding: 1rem;
  width: 85%;
  height: 5vh;
  margin: 1rem 0;
}

.new-grp .input-bar .grp-name {
  width: 98%;
}

.new-grp .input-bar .input::placeholder {
  padding: 1rem;
  opacity: 0.5;
}

.new-grp .input-bar .search-icon {
  width: 12%;
  height: 5vh;
  margin: 1%;
  background: #fff;
  border-radius: 0.5rem;
}

.new-grp .input-bar .search-icon:hover {
  cursor: pointer;
  background: var(--green);
  color: #fff;
}

.new-grp .heading {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
  background: var(--green);
  color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.new-grp .contact {
  display: flex;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

.new-grp .contact .profile {
  background: #fff;
  /* width:15%; */
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}

.new-grp .contact .profile i {
  font-size: 2.5rem;
  color: var(--light-color);
}

.new-grp .contact .name {
  margin-left: 2.5rem;
  justify-content: center;
}

.new-grp .contact .name p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.new-grp .contact:hover {
  cursor: pointer;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.new-grp .contact.active {
  background: var(--green);
  color: #fff;
}

.new-grp .create-grp-btn{
  background-color: var(--green);
  color: #fff;
  border-radius: 0.7rem;
  position: fixed;
  height: 5vh;
  font-size: 1.5rem;
  width: 22%;
  z-index: 100000;
  bottom: 5%;
  left: 4.4%;
}

.new-grp .create-grp-btn:hover{
  cursor: pointer;
}
  </style>
</html>
